body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
  }
  .box{
    float: left;
  }
.box th,td{
    
  }
  .box table{
    margin: auto;
    margin-top: 45px;
    margin-left: 100px;
  }
  .box table tr td h2{
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: aliceblue;
  
  }
  .box table tr th {
  
  }
  .box table tr td h1{
    font-size: 50px;
    margin: 0;
    padding: 0;
    color: aliceblue;
  }
  .box table tr td h1 span{
    font-size: 50px;
    margin: 0;
    padding: 0;
    color: #da9400;
  }
  .container{
    background-image:url(img/drstrang.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;

  }
  .topnav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.304);
    animation: topnav 2.5s linear;
		animation-iteration-count: infinite;
  }
  .topnav a img{
    width: 16px;
    margin: 0;
    padding: 0;
  }
  .topnav a {
    font-family: 'Ubuntu', sans-serif;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color:#ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #da9400;
    color: rgb(0, 0, 0);
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
     
    }
    .box{
      margin: auto;
      align-items: center;
    }
    .box table{
      margin: auto;
      margin-top: 40px;
      margin-left: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } 
  .coder{
    
  }
  .code{
    margin: auto;
    text-align: center;
  }
  .code h1{
    color: #da9400;
  }
  .code a{
    text-decoration: none;
  }
  .code a h1{
   color: black;
   font-family: 'Roboto Condensed', sans-serif;
  }
  